{% extends 'base.html' %}

{% block conteudo %}
    {% set mensagens = get_flashed_messages() %}
    {% if mensagens %}
        {% for msg in mensagens %}
            <div class="message">
                {{ msg }}
            </div>
        {% endfor %}
    {% endif %}
    <form action="/save" method="post">
        <div>
            <label for="nome">Nome: </label>
            <input type="text" name="nome" id="nome">
        </div>
        <div>
            <label for="dist">Distancia do Sol: </label>
            <input type="number" name="distancia_sol" id="dist">
        </div>
        <div>
            <label for="sat">Número de Satélites: </label>
            <input type="text" name="numero_satelites" id="sat">
        </div>
        <button type="submit">Salvar</button>
    </form>
{% endblock %}

{% block rodape %}
    &copy; left
{% endblock %}